<header class="anonymous">
  <nav class="navbar navbar-expand-lg m-auto">
    <div class="header-container">
      <a class="navbar-brand d-flex" routerLink="/user/sign-in">
        <img src="../../../../assets/images/knowmads.png" alt="KNOWMADS LOGO">
      </a>
      <i class="bi bi-info-circle" appTooltip data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Inicie sesión con sus credenciales para hacer uso de la plataforma"></i>
    </div>
  </nav>
  <div class="p-2"></div>
</header>
